.people{
        border: 2px solid red;
        margin: 10px;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        margin-right: 200px;
        margin-left: 200px;
}
button{
    margin: 5px!important;
    padding: 5px;
    cursor: pointer;
}